#main-title {
    color: navy;
}

.content-paragraph {
    font-style: italic;
    color: #666;
}

#style-box {
    width: 200px;
    height: 100px;
    background-color: lightgray; /* JS will change this! */
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    transition: background-color 0.3s ease; /* Smooth transition for the color change */
}